.git
.github
.gitignore
.dockerignore

docs/
tests/
mkdocs.yml
tox.ini
_config.yml
pyproject.toml
requirements-test.txt
proxy_pool.sh
docker-compose.yml
*.md

.env
.env.example

__pycache__/
*.py[cod]
.tox/
.pytest_cache/
.coverage
htmlcov/
*.log
log/
*.pid

.idea/
.vscode/
.DS_Store
