.git
.github
.gitignore
.dockerignore

tests/
pyproject.toml
requirements-test.txt
docker-compose.yml
*.md

.env
.env.example

__pycache__/
*.py[cod]
.tox/
.pytest_cache/
.coverage
htmlcov/
*.log
log/
*.pid

.idea/
.vscode/
.DS_Store
